# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Large data files
data/raw/
data/processed/
*.parquet
*.pkl
*.joblib

# Logs
*.logdata/outputs/phase_3_eda_monitoring/origin_account_summary.csv
data/outputs/phase_3_eda_monitoring/destination_account_summary.csv
data/outputs/**/*account_summary.csv
